{% extends 'base.html' %}  
{% block content %}

<form method="post">
  {% csrf_token %}
  <div class="row justify-content-center">
    <div class="card shadow" style="width: 800px;">
      <div class="card-body">
        <h4 class="mb-4">Kontodaten ändern</h4>

            {% if form.errors %} 
              <div class="alert alert-danger">
                {% for field in form %} 
                  {% for error in field.errors %}
                    <strong>{{ error|escape }}</strong><br>
                  {% endfor %} 
                {% endfor %} 
              </div>
            {% endif %}

            <tr>
              <th><label for="id_username">Benutzername:</label></th>
              <td>
                
                <input type="text" name="username" value="{{ form.username.value }}" maxlength="150" autofocus class="form-control" onchange="this.value=this.value.toLowerCase()" required id="id_username">
                
              </td>
            </tr>
          
            <tr>
              <th><label for="id_email">Email:</label></th>
              <td>
                
                <input type="email" name="email" value="{{ form.email.value }}" class="form-control" required id="id_email">
                
                
              </td>
            </tr>
          
            <tr>
              <th><label for="id_password1">Passwort:</label></th>
              <td>
                <input type="password" name="password1" class="form-control" required id="id_password1">
              </td>
            </tr>
          
            <tr>
              <th><label for="id_password2">Passwort bestätigen:</label></th>
              <td>
                <input type="password" name="password2" class="form-control" required id="id_password2">
                <br>
                  <span class="helptext"><ul><li>Das Passwort darf nicht zu ähnlich zu anderen persönlichen Informationen sein.</li>
                    <li>Das Passwort muss mindestens 8 Zeichen enthalten.</li>
                    <li>Das Passwort darf nicht allgemein üblich sein.</li>
                    <li>Das Passwort darf nicht komplett aus Ziffern bestehen.</li>
                  </ul>
                </span>
              </td>
            </tr>
            <button class="btn btn-primary">Speichern</button>
      </div>
    </div>
  </div>
</form>

{% endblock content %}