{% extends 'base.html' %}
{% block content %}

<h1>SII Codes</h1>
<td><a href="{% url 'student_import' %}" class="btn btn-secondary btn-sm">CSV Import</a></td>
<td><a href="{% url 'new_student' %}" class="btn btn-secondary btn-sm">Datensatz manuell hinzufügen</a></td>
<form>
  <div class="row mt-2 mb-2 mt-4">
    <div class="col-4 pe-0">
      <input class="form-control" placeholder="Suche nach Schülernamen oder Codes" name="search">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Suchen</button>
    </div>
  </div>
</form>
{% if alert == 1%}
  <div class="alert alert-info" role="alert">
    Der Versand der Codes läuft im Hintergrund. Um den Fortschritt hier zu sehen, muss die Seite gelegentlich neu geladen werden.
  </div>
{% endif %}
<form method="post">
  {% csrf_token %}

  <!-- <table class="table table-bordered border-secondary"> -->
  <table class="table table-hover table-bordered border-secondary table-sm">
    <thead>
      <th></th>
      <th><a href="/students/">Name</a></th>
      <th>Vorname</th>
      <th>Stufe</th>
      <th>E-Mail</th>
      <th><a href="/students/?sort=date">Ausgabedatum</a></th>
      <th><a href="/students/?sort=code">Code</a></th>
      <th>Aktionen</th>
    </thead>
    <tbody>
      {% for student in students %}
        <tr>
          <td class="text-center">
              <input class="form-check-input" name="checkbox" type="checkbox" value="{{ student.id }}" id="{{ student.id }}">
          </td>
          <td>{{ student.name }}</td>
          <td>{{ student.firstname }}</td>
          <td>{{ student.group }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.date|date:"SHORT_DATETIME_FORMAT" }}</td>
          <td>{{ student.code }}</td>
          <td>
            <button name="send" value="{{ student.id }}" class="btn btn-primary btn-sm"><i class="bi bi-tag-fill"></i><i class="bi bi-plus"></i><i class="bi bi-envelope-check-fill"></i></button>
            <a href="{% url 'edit_student' student.id %}" class="btn btn-secondary btn-sm"><i class="bi bi-pencil-fill"></i></a>
            <a href="{% url 'delete_student' student.id %}" name="delete" class="btn btn-danger btn-sm"><i class="bi bi-trash3-fill"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <table>
    <td><button name="checked" value="checked" class="btn btn-primary btn-sm">Neuer Code und Versand <strong>markierte</strong> Datensätze</button></td>
    <td><button class="btn btn-primary btn-sm">Neuer Code und Versand für <strong>alle</strong> Datensätze</button></td>
    <td><button class="btn btn-danger btn-sm">Alle Datensätze löschen</button></td>
  </table>
</form>

{% endblock content %}