{% extends 'base.html' %}
{% block content %}

<h1>Students:</h1>

<form method="post">
  {% csrf_token %}
  <table class="table table-bordered border-secondary">
    <thead>
      <th>name</th>
      <th>firstname</th>
      <th>group</th>
      <th>email</th>
      <th>Ausgabedatum</th>
      <th>code</th>
      <th>Aktionen</th>

    </thead>
    <tbody>
      {% for student in students %}
        <tr>
          <td>{{ student.name }}</td>
          <td>{{ student.firstname }}</td>
          <td>{{ student.group }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.date|date:"y-m-d" }}</td>
          <td>{{ student.code }}</td>
          <td>
            <button name="send" class="btn btn-primary btn-sm"><i class="bi bi-tag-fill"></i><i class="bi bi-plus"></i><i class="bi bi-envelope-check-fill"></i></button>
            <a href="{% url 'edit_student' student.id %}" type="button" class="btn btn-secondary btn-sm"><i class="bi bi-pencil-fill"></i></a>
            <a href="{% url 'delete_student' student.id %}" name="delete" class="btn btn-danger btn-sm"><i class="bi bi-trash3-fill"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <table>
    <td><a href="{% url 'student_import' %}" type="button" class="btn btn-secondary btn-sm">CSV Import</a></td>
    <td><a href="{% url 'new_student' %}" type="button" class="btn btn-secondary btn-sm">Datensatz manuell hinzufügen</a></td>
    <td><button type="submit" class="btn btn-primary btn-sm">Neuer Code für alle Datensätze</button></td>
    <td><button type="submit" class="btn btn-primary btn-sm">Alle Codes per E-Mail versenden</button></td>
    <td><button type="submit" class="btn btn-danger btn-sm">Alle Datensätze löschen</button></td>
  </table>
</form>

{% endblock content %}